/* @import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");

.font-jockey {
  font-family: "Jockey One", sans-serif;
}

header {
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}

h1 {
  color: var(--text-color);
}

nav ul li a {
  color: var(--text-color);
}

nav ul li a:hover {
  color: var(--hover-color);
}

.sticky-nav {
  background-color: var(--secondary-color);
}

.header-scrolled {
  padding-top: 0; /* Adjusts the padding when the header is scrolled */
} */
