@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
  --primary-color: #482F9D;
  --secondary-color: #190B4A;
  --text-color: #ffffff;
  --hover-color: #BB3775;
}

body {
  font-family: "Jockey One", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  color: var(--text-color);
}

